{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block body%}

    <div class="row" style="margin-top: 50;">
        
        <!-- Upload dashboard -->
        <div class="col m3 s12">
            <div class="upload-dashboard">
                <div class="upload-option">
                    <ul class="collapsible" style=" border: 0px; box-shadow: 0 0 0 rgb(20 20 20);" >
                    <li>
                        <div class="collapsible-header" style="display:block; background-color: #202020; border: 0px;">
                            <div class="row">
                                <div class="col s6">
                                    <div class="dark-mode-text left-align" style="font-size: large;">Add Files</div>
                                </div>
                                <div class="col s1 offset-s4">
                                    <a href="#"><i class="material-icons small orange-text darken-2-text upload-option-trigger dropdown-trigger" data-target='upload-option'>add_circle_outline</i></a>
                                </div>
                            </div>
                        </div>
                        <div class="collapsible-body"  style="border: 0px; padding-top: 0px;">
                            <form>
                                <div class="file-field input-field">
                                    <div class="btn btn-grad">
                                        <span class="black-text">File</span>
                                        <input type="file"  id="file-input">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate dark-mode-text" type="text">
                                    </div>
                                </div>
                            </form>
                            <div class="center">
                                <a class="black-text btn btn-grad center"  id="upload-button">Upload File</a>
                            </div>
                        </div>
                        <div class="progress-container container" style="padding-bottom: 10px; display: none;">
                            <div class="progress">
                                <div class="determinate" style="width: 0%"></div>
                            </div>
                        </div>

                        <div class="response dark-mode-text center" style="font-size: larger; padding-bottom: 15px; display: none"></div>
                    
                    </li>
                    </ul>
                </div>
            </div> 
        </div>

        <!-- file dashboard -->
        <div class="col s12 m9 file-dashboard">
            <div  class="file-dashboard-content" >
                <div class="container">
                    <div class="header dark-mode-text" style="margin-top:20; font-size: 80;">Files</div>
                </div>

                {%if user_files|length > 0 %}
                <!-- file list -->
                <div class="scroll">
                    <div id="file-list" style="margin: 10 20;">
                        {% set rows = (user_files|length)//3 %}
                        {% for i in range(rows) %}
                        <div class="row"  style="margin: 5px 10px;">
                            {% for j in range(3) %}
                                    <div id={{user_files[(3*i)+j].file_id}} class="col s12 m4">
                                        <div class="card" style="padding: 10;">
                                            <span id="filename" class="dark-mode-text wrap-text" style="font-size: 15px;">{{user_files[(3*i)+j].file_name}}</span>
                                            <div class="row" style="margin-bottom:0;">
                                                <div class = "col s2" style="padding-top: 11;">
                                                    <a href="download/{{user_files[(3*i)+j].file_id}}"><i class="small left-align orange-text darken-2-text material-icons">file_download</i></a>
                                                </div>
                                                <div class = "col s2" style="padding-top: 10;">
                                                    <a href="delete/{{user_files[(3*i)+j].file_id}}"><i class="small left-align orange-text darken-2-text material-icons">delete</i></a>
                                                </div>
                                                <div class = "col s2" style="padding-top: 10;">
                                                    <a class="modal-trigger" href="#modal-{{user_files[(3*i)+j].file_id}}"><i class="small left-align orange-text darken-2-text material-icons">edit</i></a>
                                                    <!-- modal structure -->
                                                    <div id="modal-{{user_files[(3*i)+j].file_id}}" class="modal">
                                                        <div class="modal-content drk-bg">
                                                          <h5 class="dark-mode-text" style="margin-bottom: 5px">Edit Your File Name</h5>
                                                          <form class="file_form">
                                                            <div class="input-field drk-bg">
                                                                <input id="name" type="text" class="validate dark-mode-text" value={{user_files[(3*i)+j].file_name}}>
                                                                <input id="file_id" type="text" class="validate" style="display: none;" value={{user_files[(3*i)+j].file_id}}>
                                                                <input id="username" type="text" class="validate" style="display: none;" value={{user["username"]}}>
                                                                <h7 class="dark-mode-text" style="margin-bottom: 5px"><span class="red-text">*</span> new filename includes file extension</h7>
                                                                <div class="dark-mode-text btn drk-bg" id = "modal-submit" style="margin-top:10px;">Submit</div>
                                                              </div>
                                                          </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class = "col s6 m5 offset-m1">
                                                    <div id="dates" class="dark-mode-text" style="padding-top: 15px">{{user_files[(3*i)+j].date_added}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        
                        <!-- for remaining files -->
                        <div class="row" style="margin: 5px 10px;">
                            {% for i in range(3*rows, user_files|length) %}
                                <div id={{user_files[i].file_id}} class="col s12 m4">
                                    <div class="card" style="padding: 10;">
                                        <span id="filename" class="dark-mode-text wrap-text" style="font-size: 15px;">{{user_files[i].file_name}}</span>
                                        <div class="row"   style="margin-bottom:0;">

                                            <div class = "col s2" style="padding-top: 10;">
                                                <a href="download/{{user_files[i].file_id}}"><i class="small left-align orange-text darken-2-text material-icons">file_download</i></a>
                                            </div>

                                            <div class = "col s2" style="padding-top: 10;">
                                                <a href="delete/{{user_files[i].file_id}}"><i class="small left-align orange-text darken-2-text material-icons">delete</i></a>
                                            </div>

                                            <div class = "col s2" style="padding-top: 10;">
                                                <a class="modal-trigger" href="#modal-{{user_files[i].file_id}}"><i class="small left-align orange-text darken-2-text material-icons">edit</i></a>
                                                    <!-- modal structure -->
                                                <div id="modal-{{user_files[i].file_id}}"class="modal">
                                                    <div class="modal-content drk-bg">
                                                        <h5 class="dark-mode-text" style="margin-bottom: 5px">Edit Your File Name</h5>
                                                        <form class="file_form">
                                                        <div class="input-field drk-bg">
                                                            <input id="name" type="text" class="validate dark-mode-text" value={{user_files[i].file_name}}>
                                                            <input id="file_id" type="text" class="validate" style="display: none;" value={{user_files[i].file_id}}>
                                                            <input id="username" type="text" class="validate" style="display: none;" value={{user["username"]}}>
                                                            <h7 class="dark-mode-text" style="margin-bottom: 5px"><span class="red-text">*</span> new filename includes file extension</h7>
                                                            <br>
                                                            <div class="btn-flat dark-mode-text" id = "modal-submit" style="margin-top:10px;">Submit</div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class = "col s6 m5 offset-m1">
                                                <div id="dates" class="dark-mode-text" style="padding-top: 15px">{{user_files[i].date_added}}</div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="shade"></div>
                </div>

                {% else %}
                    <div class="dark-mode-text center" style=" padding: 20px;font-size: 60px;">No Files Found</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block extra_scripts %}

    <script>
        $('document').ready(function () {

            // triggers when file is selected
            $('#upload-button').click(function() {
                
                let file = $('#file-input')[0].files[0]

                if($('#file-input')[0].files.length==0) {
                    alert('Error : No file selected')
                    return
                }

                // after all validations
                let data = new FormData()
                data.append('file', file, filename=file.name)
                let request = new XMLHttpRequest()
                request.open('POST', '/upload')

                // upload progress event
                request.upload.addEventListener('progress', function(e) {
                let percent_complete = (e.loaded / e.total)*100;
                    
                    // percentage of upload completed
                    $('.determinate').css("width", percent_complete+"%");
                })

                // triggers when file is uploaded completely
                request.addEventListener('load', function() {
                    $('.progress-container').hide()
                    $(".response").show()
                    if(request.status==413){
                        $(".response").text("File Size Exceeded")
                    }
                    else if(request.status==404){
                        $(".response").text("User Not Found")
                    }
                    else{
                        $(".response").text("File successfully uploaded")
                        location.reload(false)
                    }
                })

                //render progress bar
                $('.progress-container').show();

                // sends the data
                request.send(data);
            })

            // to initialize upload-option collapsible
            $('.collapsible').collapsible();
            
            // to initialize edit modal
            $('.modal').modal();
            $(".modal").css("background-color", "#404040")

            // rename file
            $(".modal #modal-submit").click(function() {
                let parent = $(this).parent()
                let rename = parent.find("#name").val()
                let file_id = parent.find("#file_id").val()
                let username = parent.find("#username").val()
                var value = {name: rename};
                var options = {
                        url: "/api/files/"+username+"/"+file_id,
                        method :"PUT",
                        json : value,
                    };
                    fetch("/api/files/"+username+"/"+file_id, {
      
                        // Adding method type
                        method: "PUT",
                            
                        // Adding body or contents to send
                        body: JSON.stringify({name: rename}),
                            
                        // Adding headers to the request
                        headers: {"Content-type": "application/json; charset=UTF-8"}
                    })
                        
                    // Converting to JSON
                    .then(response => response.json())
                        
                    // Displaying results to console
                    .then(json => {
                        $("#"+file_id+" #filename").text(rename)
                        $('.modal').modal('close');
                    });
                
            })
        })
    </script>
{% endblock %}